<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% extends 'head_foot.html' %}
    {% block content %}
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!--<title>Shop Item - Start Bootstrap Template</title>-->

    <script src="/static/vendor/jquery-3.2.1.min.js"></script>
    <script src="/static/vendor/sweetalert/sweetalert.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'home/css/shop-item.css'%}" rel="stylesheet">

    <style>
        .view{
            height:40px;
            font-size:20px;
        }

        .lab{
            font-size:22px;
            font-weight:550;
        }
    </style>

</head>

<body>


<!-- Page Content -->
<div class="container" style="background-color:#f2f2f2; margin-top:30px; margin-bottom:15px;">

    <div class="row" style="min-height: 542px; box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);">

        <div class="col-lg-3">
            {% if user.is_authenticated %}
            {% if user.username == prod_cr_by %}
            <h2 class="my-4"> Options </h2>
            <div class="list-group" style="box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);">


                <table id="myTable">
                    <tr>
                        <td>
                            <a href="/product/edit/{{prod_id}}" class="list-group-item">Edit</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/product/delete/{{prod_id}}" class="list-group-item">Delete</a>
                        </td>
                    </tr>


                    </tr>
                </table>

                <!--<a href="#" class="list-group-item active">Product 1</a>
                <a href="#" class="list-group-item">product 2</a>
                <a href="#" class="list-group-item">Product 3</a>-->
            </div>
            {% endif %}
            {% endif %}
        </div>
        <!-- /.col-lg-3 -->
        <!-- <table>
             <tr>
                 <td>-->

        <div class="col-lg-9" style="margin-bottom:15px; ">


            <div class="card mt-4" style="box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);">
                <table>

                    <tr>
                        <td style="width:300px;">
                            <!--<img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">-->
                            <img class="card-img-top img-fluid" src="{{prod_logo.url}}" alt=""
                                 style="height:275px; width:275px; margin:10px;">

                        </td>
                        <!--<td style="margin:10px;">
                            <h4 class="card-title">Product Id:
                                {{prod_id}}</h4>
                            <h4 class="card-title">Created By:
                                {{prod_cr_by}}</h4>
                            <h3 class="card-title">Product Name:
                                {{prod_name}}</h3>
                            <p class="card-text" style="margin-bottom:0px!important; font-size:20px;"><h4>
                            Topic:</h4> {{prod_topic}}</p>
                            <p class="card-text" style="margin-bottom:0px !important; font-size:20px;"><h4>
                            Desc:</h4>
                            {{prod_short}}</p>
                        </td>-->

                        <td style="margin:10px;">
                            <div class="view">
                                <label class="lab">Product Id:</label>
                                {{prod_id}}
                            </div>

                            <div class="view" style="min-height: 40px; max-height: 80px;">
                                <label class="lab">Product Name:</label>
                                {{prod_name}}
                            </div>

                            <div class="view">
                                <label class="lab">Created By:</label>
                                {{prod_cr_by}}
                            </div >

                            <div class="view">
                                <label class="lab">Topic:</label>
                                {{prod_topic}}
                            </div>

                            <div class="view" style="min-height: 40px; max-height: 80px;">
                            <label class="lab">
                                Short Description:</label>
                            {{prod_short}}
                            </div>
                        </td>
                    </tr>
                    <!-- <table>
                         <tr>
                             <td>
                                 <label>Product Id:</label>
                                 {{prod_id}}
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <label>Product Name:</label>
                                 {{prod_name}}
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <label>Created By:</label>
                                 {{prod_cr_by}}
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <label>Topic:</label>
                                 {{prod_topic}}
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <label>Desc:</label>
                                 {{prod_short}}
                             </td>
                         </tr>
                     </table>
                 </td>
             </tr>

         </table>-->

                </table>
                <div style="margin-left:15px;margin-right:15px; margin-bottom:15px;min-height: 40px; max-height: 160px; font-size:20px;">
                    <label class="lab">
                        Description:</label>
                    </h4>
                    {{prod_desc}}</h4>
                </div>
            </div>


            <!-- /.card -->


            <!-- /.card -->

        </div>
        <!--</td>
    </tr>
</table>-->
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->

<!-- Footer -->
<!--<footer class="py-5 bg-dark">-->
<!--<div class="container">-->
<!--<p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>-->
<!--</div>-->
<!--&lt;!&ndash; /.container &ndash;&gt;-->
<!--</footer>-->

<!-- Bootstrap core JavaScript -->
<script src="{% static 'home/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</body>
{% endblock %}
</html>
